<!doctype html>
<title>google docs</title>
<pre>
  Documentary about Gamer Thailand: 
  <a href="https://docs.google.com/document/d/1_jo64OJzEv0bCLz6ttOJf02lBt5Fu_oI7PekjoXTxCc">https://docs.google.com/document/d/1_jo64OJzEv0bCLz6ttOJf02lBt5Fu_oI7PekjoXTxCc</a>

  Underage people in Just Rens' Public Server: 
  <a href="https://docs.google.com/document/d/1fUwoygraKKv_2EMIBgnBdc_aUGeMw8xvExsOdYsTJWI/edit?usp=sharing">https://docs.google.com/document/d/1fUwoygraKKv_2EMIBgnBdc_aUGeMw8xvExsOdYsTJWI/edit?usp=sharing</a>

  Plane Crazy Timelines: 
  <a href="https://docs.google.com/document/d/107XdEgHOz9dk2LKrnPSihjpzngK-iXZ2yJC-ZbtweaI/edit?usp=sharing">https://docs.google.com/document/d/107XdEgHOz9dk2LKrnPSihjpzngK-iXZ2yJC-ZbtweaI/edit?usp=sharing</a>
</pre>
